<!-- include header -->
<%- include('auth/header') %>

<!-- include nav -->
<%- include('auth/nav') %>

<!-- Begin Content -->
<div class="container-fluid mx-auto ms-0">
<h2 class="text-center mt-3">Ahmad Fathon - Sistem Informasi - 2019081047</h2>
</div>
<!-- End Content -->

<!-- include footer -->

<%- include('auth/footer') %>