<!-- include header -->
<%- include('auth/header') %>

<!-- include nav -->
<%- include('auth/nav') %>

<!-- Begin Content -->
<div class="container-fluid mx-auto ms-0">
<h2 class="text-center mt-3">Selamat Datang! di Aplikasi CRUD Faton - App</h2>

<!-- <section>
  <p>pembuatan aplikasi menggunakan :</p>
  <ol>Node JS</ol>
  <ol>Express JS</ol>
  <ol>Mongo DB</ol>
</section> -->
</div>
<!-- End Content -->

<!-- include footer -->
<%- include('auth/footer') %>